html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, label {
  font-family: system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif!important;
}
body{
background: #f4f4f4;
}
p.name {
  font-weight: 600;
}
p.description {
font-size: 14px;
color: #565656;
display: -webkit-box!important;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}
button#add-content {
    border: none;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom: 0;
    background: #046afb;
    color: white!important;
    font-size: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: 200;
}
p.task-title {
    background: #046afb;
    margin: 0!important;
    padding: 10px!important;
    color: white;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(auto,170px));
  grid-gap: 20px;
  padding:20px;  
}

.items{ 
position:relative;
overflow: hidden;
background:white;
border-radius: 10px;
box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
.content p {
  display: grid;
  margin: 10px;
  padding: 10px!important;
  text-align: left;
}
.content {
    position: relative;
}
  button.edit {
    background: #f8f8f8;
    border: none;
    padding: 10px;
    width: 100%;
}
  .item-edit {
    border: none;
    background: white;
    margin: 0;
    padding: 0;
}

img.imagen {
  object-fit: cover;
  height: 100px;
  width: 170px;  
}
span.add-button {
font-weight: 900px;
}

@media screen and (max-width: 640px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding:0;
    place-content: space-evenly;
    
  }
  img.image {
    object-fit: cover;
    width: 100%;
  }
}
.item-edit button {
    border: none!important;
    padding: 15px;
    width: 100%;
    background: #f7f7f7;
}
  
/* ADD SIDEBAR */

#add_overlay_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh!important;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 10;
}

#add_sidebar {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -100vw;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.3s;
  list-style: none!important;
  display: grid;
  place-content: center;				  
}
#add_sidebar h1{
  font-size: 52px;
  font-weight: 200;
  text-align: center;
}
#add_form {
  display: grid;
  grid-template-columns: 275px;
  gap: 5px;
  font-size: 12px;
  text-transform: capitalize;
}
#add_form input {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 33px;
  border-radius: 5px;
}
#add_btn {
  background: #046afb;
  border: none;
  padding: 15px;
  margin-top: 10px;
  color: white;
  font-weight: 900;
}

/*EDIT SIDEBAR*/

/* ADD SIDEBAR */

#edit_overlay_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh!important;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 10;
}

#edit_sidebar {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -100vw;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.3s;
  list-style: none!important;
  display: grid;
  place-content: center;				  
}
#edit_sidebar h1{
  font-size: 52px;
  font-weight: 200;
  text-align: center;
}
#editForm {
  display: grid;
  grid-template-columns: 275px;
  gap: 5px;
  font-size: 12px;
  text-transform: capitalize;
}
#editForm input {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 33px;
  border-radius: 5px;
}
#edit_btn {
  background: #046afb;
  border: none;
  padding: 15px;
  margin-top: 10px;
  color: white;
  font-weight: 900;
}
#delete_btn {
  background: red;
  border: none;
  padding: 15px;
  margin-top: 10px;
  color: white;
  font-weight: 900;
}
button#logout {
    background: #f44336;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
    text-underline-position: under;
}
p#plogout {
    text-align: center;
}
p#hiAdmin {
    text-align: center;
}
/*PRELOADER*/

/* .g-progressbar {
	position: relative;
} */

.g-progressbar-loading {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    display: flex;
    overflow: hidden;
    text-align: center;
	height: 2px;
    background-color: rgba(238, 238, 238, 0.22);
}

.g-progressbar-inner-loading {
	right: 10%;
	animation-name: spinner-loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
	-webkit-transition: right 3.5s linear;
    transition: right 3.5s linear;
	position: relative;
    width: 100%;
    height: 100%;
	background-color: #61aaf2;
}

@keyframes spinner-loading {
	from {
		right: 100%;
	}

	to {
		right: -100%;
	}
}

